[data-filter="light"] {
  --bg-col: rgb(251, 241, 208);
  --boarder-color: rgb(158, 56, 56);
  --font-family: "ivypresto-display", serif;
  --font-family-secondary: "Montserrat", sans-serif;
  color: rgb(158, 56, 56);
}
[data-filter="dark"] {
  --bg-col: rgb(208, 220, 251);
  --boarder-color: rgb(31, 42, 85);
  --font-family: "ivypresto-display", serif;
  --font-family-secondary: "Montserrat", sans-serif;
  color: rgb(31, 42, 85);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--font-family);
  font-style: italic;
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: 100;
}
h1 {
  font-size: 3.9rem;
}
h3,
p,
label,
a {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
.kontakt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.kontakt a {
  display: flex;
  justify-content: space-between;
}
.kontakt a img {
  height: 15px;
  width: auto;
}
h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}
p,
a {
  font-size: 0.7rem;
  font-weight: 300;
}
.last-name {
  text-align: end;
  margin-top: -25px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
header {
  height: 100px;
}
body {
  background-color: var(--bg-col);
}
main {
  display: grid;
  place-items: center;
}
.landing {
  display: flex;
  width: 700px;
  margin-bottom: 60px;
  gap: 80px;
}
img {
  width: 300px;
  height: auto;
  object-fit: cover;
}
.projects h2,
.projects h3 {
  text-align: center;
}
.scrollbar {
  display: flex;
  width: 100vw;
  overflow-x: auto;
  gap: 50px;
  padding: 20px 0;
}
.scrollbar img {
  display: inline-block;
  height: 400px;
  width: auto;
}
.img-container {
  position: relative;
  display: inline-block;
  width: auto;
  flex: 0 0 auto; /* Let width be auto so it matches content */
}
.img-container img {
  display: block;
  height: 400px;
  width: auto;
}
.img-container div {
  width: 100%;
  display: block;
}
.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 100% of img-container */
  height: 100%; /* full height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 30px;
  box-sizing: border-box;
  text-align: start;
}

.img-container:hover .hidden {
  opacity: 1;
}
.section-two-container {
  margin: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.skills,
.software {
  grid-column: 1 / span 1;
}
.gallery {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  display: grid;
  gap: 20px;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}
.img1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}
.img2 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
}
.img3 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills div {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal parts */
}

.skills div span {
  height: 10px;
  background-color: var(--boarder-color);
  opacity: 0.2;
}

.skills div span.filled {
  background-color: var(--boarder-color);
  opacity: 1;
}
.software img {
  width: 60px;
}
